/Heslington_hustle/core/build/classes/java/main/com/heslington_hustle/game/Activity$ActivityType.class
/Heslington_hustle/core/build/classes/java/main/com/heslington_hustle/game/Activity.class
/Heslington_hustle/desktop/build/resources/main/blank.png
/Heslington_hustle/core/build/tmp/compileJava/compileTransaction/stash-dir/CharacterSelection$1.class.uniqueId3
/Heslington_hustle/core/build/tmp/compileJava/compileTransaction/stash-dir/CharacterSelection$2.class.uniqueId0
/Heslington_hustle/core/build/tmp/compileJava/compileTransaction/stash-dir/CharacterSelection$3.class.uniqueId2
/Heslington_hustle/core/build/tmp/compileJava/compileTransaction/stash-dir/CharacterSelection.class.uniqueId1
/Heslington_hustle/core/build/classes/java/main/com/heslington_hustle/game/Eat.class
/Heslington_hustle/core/build/tmp/compileJava/compileTransaction/stash-dir/GameScreen.class.uniqueId4
/Heslington_hustle/core/build/classes/java/main/com/heslington_hustle/screens/HowToPlayScreen$1.class
/Heslington_hustle/core/build/classes/java/main/com/heslington_hustle/screens/HowToPlayScreen.class
/Heslington_hustle/core/build/classes/java/main/com/heslington_hustle/screens/MainMenu$3.class
/Heslington_hustle/desktop/build/resources/main/orange.png
/Heslington_hustle/core/build/classes/java/main/com/heslington_hustle/game/Recreation.class
/Heslington_hustle/core/build/classes/java/main/com/heslington_hustle/game/Study.class
